html{
    scroll-behavior: smooth;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(212, 217, 221);
    font-size: .95em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

/* .bbdy{
    width: 960px;
    margin: auto;
} */


.navlist{
    background-color: rgb(6, 7, 58);
    display: flex;
    align-content: center;
    justify-content:flex-end;

}

.navList1{
    display: flex;
    margin: auto;

}

.navitems{
    display: flex;
    text-decoration: none;
    list-style-type:none;
    color: #d6cfcf;
    height: 40px;
    align-items: center;
    margin-inline: 10px;
    text-align: center;
    font-size: .85em;
}

.navitems:hover{
    
    background-color:  #04072b;
    border-bottom: 2px solid #02c574;
    
}

.navitems .don{
    display: flex;
    background-color: #02c574;
    height: 40px;
    align-items: center;
    padding-inline: 5px;
    font-weight: bold;



}

.nav2{
    display: flex;
    justify-content:space-evenly;
    background-color: rgb(244, 244, 247);
}

.navList2{
    display: flex;
    align-items: center;
    justify-content: center;
}

.naveitems2{
    display: flex;
    flex-direction: row;
    text-decoration: none;
    list-style-type:none;
    border-radius: 10px;
    color: #0d0849;
    margin: 10px;
    padding: 10px;
    text-align: center;
    font-size: .75em;
    font-weight: bold;
}




.log{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logo{
    height: 20px;
    width: 20px;
}

.SchoolName{
    padding: 5px;
    font-size: .85em;
    font-weight: 1000;
    font-family: 'Times New Roman', Times, serif;
    color: #060a38;
}

.dehero{
    width: 100vw;
}
.heropics{
    width: 100vw;
    height: 80vh;
}